* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

.swm-container {
  height: 100vh;

  .swm-header-container {
    align-items: center;
    box-shadow: 0px 0.65px 8px rgba(0, 0, 0, 0.2), 0px 1.65px 13px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 10vh;
    justify-content: space-between;
    position: relative;
    text-align: center;
    transition: 0.4s ease-out;
    z-index: 1;

    .swm-typo-heading {
      margin: auto 60px;
      position: relative;

      &:after {
        background: rgba(170, 170, 157, 0.3);
        content: "";
        height: 46px;
        left: -5px;
        position: absolute;
        top: -11px;
        width: 115%;
        z-index: -1;
      }
    }

    .swm-heading-darkmodeswitch {
      background: #DDD;
      border-radius: 21px;
      box-shadow: 0px 0.65px 8px rgba(0, 0, 0, 0.15) inset;
      display: flex;
      height: 42px;
      margin: auto 60px;
      position: relative;
      transition: 0.3s;
      width: 76px;
  
      label {
        cursor: pointer;
        padding: 12px 32px;
        z-index: 2;
      }
  
      .swm-heading-darkmodeswitch-checkbox {
        cursor: pointer;
        opacity: 0;
      }
  
      &:after {
        background: #fdfdfd;
        bottom: 0;
        border-radius: 19px;
        box-shadow: 0px 0.65px 8px rgba(0, 0, 0, 0.2), 0px 1.65px 8px rgba(0, 0, 0, 0.1);
        content: '';
        height: 36px;
        left: 0;
        margin: 3px;
        position: absolute;
        transition: 0.3s ease-in-out;
        width: 36px;
      }
  
      &.switch-on {
        background: rgb(41, 212, 78);
  
        &:after {
          transform: translateX(34px);
        }
      }
    }
  }

  .swm-interface-container {
    display: grid;
    grid-template: [row1-start] "menu swatch" auto [row1-end] / 30vw 70vw;
    height: 90vh;
    transition: 0.4s ease-out;

    .swm-sliding-menu {
      align-items: center;
      box-shadow: 0px 0.65px 8px rgba(0, 0, 0, 0.2) inset, 0px 1.65px 13px rgba(0, 0, 0, 0.2) inset;
      display: flex;
      grid-area: menu;
      height: 90vh;
      transition: 0.4s ease-out;

      .swm-form-container {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        transition: 0.4s ease-out;
  
        .swm-form {
          align-items: center;
          display: flex;
          flex-flow: column;
          height: 50vh;
          justify-content: center;
          padding: 18px;
          position: relative;
          width: 75%;
          z-index: 1;

          label {
            font-size: 18px;
            font-weight: 500;
            position: relative;

            &:after {
              background: rgba(170, 170, 157, 0.3);
              content: "";
              height: 26px;
              left: -5px;
              position: absolute;
              top: -11px;
              width: 115%;
              z-index: -1;
            }
          }
  
          .swm-input-bg {
            height: 30px;
            font-size: 14px;
            margin: 8px 0 36px;
            outline: none;
            padding: 0 10px;
            width: 100%;
          }

          .swm-input-fg {
            height: 10vh;
            font-size: 14px;
            margin: 8px 0 36px;
            min-height: 30px;
            outline: none;
            padding: 4px 10px;
            width: 100%;
          }
  
          .swm-download-link {
            background: #fafafa;
            box-shadow: 0px 0.65px 8px rgba(0, 0, 0, 0.2), 0px 1.65px 8px rgba(0, 0, 0, 0.1);
            color: #333;
            cursor: pointer;
            font-size: 18px;
            line-height: 30px;
            margin: 18px;
            outline: none;
            padding: 4px 18px;
            text-align: center;
            text-decoration: none;
            transition: 0.4s ease-out;

            &:hover {
              background: #fff;
              box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.2);
              color: #000;
              transform: translateY(-0.5px);
            }
          }
        }
      }
    }

    &.menu-open {
      transform: none;

      .swm-form-container {
        transform: none;
      }
    }

    &.menu-closed {
      transform: scale(1.5) translateX(-15vw);

      .swm-form-container {
        transform: scale(0.7) translateX(6vw);
      }
    }

    .swm-canvas-container {
      align-items: center;
      display: flex;
      grid-area: swatch;
      justify-content: center;
      padding: 18px;
      transition: 0.4s ease-out;
    }
  }

  .swm-menu-button {
    align-items: center;
    background: #fafafa;
    box-shadow: 0px 0.65px 8px rgba(0, 0, 0, 0.2), 0px 1.65px 8px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 30px;
    outline: none;
    position: fixed;
    text-align: right;
    top: 15vh;
    transition: 0.4s ease-out;
    width: 90px;
    z-index: 1;

    &.menu-open {
      padding: 8px 4px 4px 48px;
    }

    &.menu-closed {
      padding: 8px 4px 4px 36px;
    }

    &:hover {
      background: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.2);
      color: #000;
      transform: translateY(-0.5px);
    }

    span {
      left: 20px;
      position: absolute;
    }

    .swm-menu-checkbox {
      cursor: pointer;
      height: 24px;
      left: -6px;
      opacity: 0;
      padding: 2px 12px 1px 0;
      position: absolute;
      z-index: 2;
    }
  }
}